<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Employee List</h1>
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
    </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
          <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Phonenumber</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let employee of employeeData ">
          <td>
            {{employee.id}}
          </td>
          <td>
            {{employee.name}}
          </td>
          <td>
            {{employee.age}}
          </td>
          <td>
            {{employee.email}}
          </td>
          <td>
            {{employee.phonenumber}}
          
            <td>
                <button (click)="onEdit(employee)" style= "color:aliceblue;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteEmployee(employee)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" formControlName="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Age</label>
                  <input type="text" formControlName="Age" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="text" formControlName="Email" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Phonenumber</label>
                    <input type="text" formControlName="Phonenumber" class="form-control" id="exampleInputPassword1">
                  </div>
                  

                
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button"  id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
